{% extends 'web/base.html' %}
{% load static %}
{% block content %}

  
    <div class="breadcrumb-area  margin-bottom-120" style="background-image:url('{%static 'web/img/breadcrumb/01.jpg' %}');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb-inner">
                        <span>Who we are</span>
                        <h2 class="page-title">Talented and motivated professionals Team.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- we offer  -->
    <section class="who-we-are-area ">
        <div class="container">
            <div class="who-we-are-wrapper bg-image padding-bottom-90 padding-top-80">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="title-md-line">
                            who we are
                        </h3>
                        <p>Gadlix is one of the top advertising agencies in Kerala, India. We deliver the best advertising solution for our clients with the best price packages. Gadlix has been delivering exceptional advertising services all over India and is striving to expand the area of services.</p>
                        <br>
                        <p>We undertake all kinds of advertising and are created with extreme care and dedication. The company is blessed with professionals who strive to deliver quality advertisings for our customers. Start building your brand equity with the strategic one. Creative has been focusing on project management & implementation through cooperation.</p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-4 col-lg-3 col-sm-6">
                        <div class="who-we-are-item">
                            <div class="content">
                                <h3 class="title">Mission</h3>
                                <p>Gadlix works on a mission to deliver the most quality advertisements at a reasonable price for everyone.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-6">
                        <div class="who-we-are-item">
                            <div class="content">
                                <h3 class="title">Vision</h3>
                                <p>As a leading advertising company in Kerala, we strive to deliver the best advertising for our customers.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-6">
                        <div class="who-we-are-item">
                            <div class="content">
                                <h3 class="title">Core Values</h3>
                                <p>We value our customers(brand or company) and the target audience to which they try to advertise.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Counter Area -->
    <div class="counterup-area padding-bottom-110 padding-top-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">250</span>+</div>
                            <h4 class="title">Screens Place</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">789</span>k</div>
                            <h4 class="title">Happy Clients</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">149</span>+</div>
                            <h4 class="title">Countries Cover</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="single-counterup-01">
                        <div class="content">
                            <div class="count-wrap"><span class="count-num">189</span>k</div>
                            <h4 class="title">Worldwide Ad</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Our Advertising -->
    <div class="our-advertising-area bg-image padding-top-110 padding-bottom-110">
        <div class="line-b"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title white">
                        <h2 class="title">
                            we are agency advertising
                        </h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="our-milestone">
                        <h2 class="title"> Providing expert ASSISTANCE FOR BOTH OUTDOOR & INDOOR ADVERTISING.</h2>
                        <div class="milestone-plan">
                            <div class="progress-item-wrapper">
                                <div class="progress-item">
                                    <div class="single-progressbar">
                                        <h4 class="subtitle">Planning</h4>
                                        <div class="html"></div>
                                    </div>
                                    <div class="single-progressbar">
                                        <h4 class="subtitle">Strategy</h4>
                                        <div class="css"></div>
                                    </div>
                                    <div class="single-progressbar">
                                        <h4 class="subtitle">Performance</h4>
                                        <div class="php"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- testimonial area start  -->
    <section class="testimonial-area padding-top-120 padding-bottom-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="testimonial-top padding-bottom-50 padding-top-55">
                        <div class="section-title">
                            <div class="icon">
                                <i class="flaticon-right-quote-1"></i>
                            </div>
                            <h2 class="title">Clinets testimonial </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="testimonial-carousel-area margin-top-100">
                        <div class="testimonial-carousel">
                            {% for testimonial in testimonial %}
                        <div class="single-testimonial-item">
                            <div class="content">
                                <div class="content-wrapper">
                                    <p class="description">{{testimonial.decription}}</p>
                                </div>
                                <div class="author-details">
                                    <div class="thumb">
                                        <img src="{{testimonial.image.crop.120x120}}" alt="testimonial">
                                    </div>
                                    <div class="author-meta">
                                        <h4 class="title">{{testimonial.name}}</h4>
                                        <span class="designation">{{testimonial.designation}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial area end -->

    <!-- Team Section -->
    <section class="creative-team bg-image padding-top-110 padding-bottom-55" style="background-image: url({% static 'web/img/bg/team-bg.jpg' %});">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-12">
                    <div class="section-title white desktop-center padding-top-25 margin-bottom-55">
                        <p class="meta">meet our expert team </p>
                        <h2 class="title">our team <span>.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4  col-sm-6 padding-bottom-60">
                    <div class="team-section">
                        <div class="team-img-cont">
                            <img src="{%static 'web/img/team/01.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="social-link style-03">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-square facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square g-plus"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="title">Johnny Jhon</h4>
                            <span>Co-Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-sm-6 padding-bottom-60">
                    <div class="team-section">
                        <div class="team-img-cont">
                            <img src="{%static 'web/img/team/02.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="social-link style-03">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-square facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square g-plus"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="title">Johnny Lione</h4>
                            <span>Co-Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-sm-6 padding-bottom-60">
                    <div class="team-section">
                        <div class="team-img-cont">
                            <img src="{%static 'web/img/team/03.jpg' %}" alt="">
                        </div>
                        <div class="content">
                            <div class="social-link style-03">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-square facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter-square twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-square g-plus"></i></a></li>
                                </ul>
                            </div>
                            <h4 class="title">Jhon Cena</h4>
                            <span>Co-Founder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--=======================
    Client Section
    ========================-->
    <div class="client-section bg-liteblue padding-top-110 padding-bottom-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title desktop-center padding-bottom-25">
                        <h3 class="client-title">
                            We have more then 20k satified client thoses work with us.
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="client-area">
                        {% include 'web/partials/clients.html'  %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    

 
    {% endblock %}


    