{% extends 'web/base.html' %}
{% load static %}
{% block content %}


<div class="" id="home">

    <div class="header-area header-bg" style="background-position: center !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="header-inner">
                        <!-- header inner -->
                        <h1 class="title">Builds brand awareness immediatly
                        </h1>
                        <div class="btn-wrapper  desktop-left padding-top-30">
                            <a href="{% url 'Web:services' %}" class="boxed-btn">Our services</a>
                        </div>
                    </div>
                    <!-- //.header inner -->
                </div>
            </div>
        </div>
    </div>


</div>
<div class="counterup-area padding-bottom-80" >
    <div class="container">
        <div class="counter-area m-top bg-white padding-top-110 padding-bottom-105">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-inner">
                        <h2 class="section-inner-title">
                            We Create <br> Next Level  <span>Advertisements </span>
                        </h2>
                        <div class="btn-wrapper">
                            <a class="who-btn" href="{% url 'Web:about' %}">who we are</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="counter-content">
                                <p>We are a value-driven advertising agency in Kerala, India. Our core values inspire us to push our boundaries and set benchmarks for others</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6">
                            <div class="single-counterup-01">
                                <div class="content">
                                    <div class="count-wrap"><span class="count-num">250</span>+</div>
                                    <h4 class="title">Screens Place</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6">
                            <div class="single-counterup-01">
                                <div class="content">
                                    <div class="count-wrap"><span class="count-num">79</span>k</div>
                                    <h4 class="title">Peoples Reached</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-6">
                            <div class="single-counterup-01">
                                <div class="content">
                                    <div class="count-wrap"><span class="count-num">49</span>+</div>
                                    <h4 class="title">Country Cover</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Our Provide Area -->
<section class="our-service-area padding-bottom-120" id="service" >
    <div class="bg-text">
        <span class="title">Service</span>
    </div>
    <div class="container" >
        <div class="row justify-content-center"  >
            <div class="col-lg-8">
                <div class="section-title desktop-center padding-top-25 margin-bottom-55" >
                    <p class="meta">what we do</p>
                    <h2 class="title">our SERVICES <span>.</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for service in services %}
            <div class="col-lg-4 col-md-6">
                <div class="single-what-we-service-item margin-bottom-30">
                    <a href="{% url 'Web:serviceDetails' service.id %}">
                        <div class="single-what-img">
                            <img src="{{service.image.crop.360x505}}" alt="">
                        </div>
                        <div class="content-wrapper">
                            <div class="content">
                                <h4 class="title">{{service.title}}</h4>
                                <p>{{service.summary}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}

            <div class="col-lg-12">
                <div class="btn-wrapper desktop-center margin-top-30">
                    <a href="{% url 'Web:services' %}" class="boxed-btn blank">explore all services</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Advertising -->
<div class="our-advertising-area bg-image padding-top-110 padding-bottom-110" id="about">
    <div class="line-b"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title white">
                    <h2 class="title">
                        Outdoor Advertising solution
                    </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="our-milestone">
                    <h2 class="title"> Providing expert ASSISTANCE FOR BOTH OUTDOOR & INDOOR ADVERTISING.</h2>
                    <div class="milestone-plan">
                        <div class="progress-item-wrapper">
                            <div class="progress-item">
                                <div class="single-progressbar">
                                    <h4 class="subtitle">Planning</h4>
                                    <div class="html"></div>
                                </div>
                                <div class="single-progressbar">
                                    <h4 class="subtitle">Strategy</h4>
                                    <div class="css"></div>
                                </div>
                                <div class="single-progressbar">
                                    <h4 class="subtitle">Performance</h4>
                                    <div class="php"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Our Business Growth -->
<section class="our-business-area padding-bottom-120 padding-top-120">
    <div class="container">
        <div class="business-growth bg-image margin-bottom-90">
            <div class="row justify-content-center">
                <div class="col-md-6 offset-md-6">
                    <div class="business-growth-top">
                        <div class="section-title padding-top-40 margin-bottom-55">
                            <h2 class="title">We help to create eye attention.
                            </h2>
                            <p>We create advertisements that catch people’s eye and attention. Build your brand with Gadlix..</p>
                            <div class="vdo-btn">
                                <a class="mfp-iframe video-play-btn"
                                    href="https://www.youtube.com/watch?v=-ZwQtICNbRc"><span class="video-play"><i
                                            class="fas fa-play mfp-iframe"></i></span>Play video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-why-us-box margin-bottom-20">
                    <div class="icon">
                        <i class="flaticon-3-layers"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">SMART PLANS</h4>
                        <p>Plan your strategy and the type of advertisement you are going to execute.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-why-us-box margin-bottom-20">
                    <div class="icon">
                        <i class="flaticon-3-favorites"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">BUILD BRANDS</h4>
                        <p>Start building your brand with the strategic one. Best ads to boost business.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-why-us-box margin-bottom-20">
                    <div class="icon">
                        <i class="flaticon-3-checked"></i>
                    </div>
                    <div class="content">
                        <h4 class="title">GROW BUSINESS</h4>
                        <p>Create the most attractive advertising design for boosting your business.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Project Gallery -->
<section class="our-project-area bg-image padding-top-110 padding-bottom-120" id="gallery">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title white desktop-center margin-bottom-55">
                    <p class="meta">What we done</p>
                    <h2 class="title">our projects <span>.</span> </h2>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            {% for gallery in gallery1 %}
            <div class="col-lg-6">
                <div class="project-gallery-item">
                    <img src="{{gallery.image.crop.570x573}}" alt="">
                    <div class="content">
                        <div class="caption">
                            <h2 class="title">{{gallery.title}}</h2>
                            
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-lg-6">
                <div class="row no-gutters">
                    {% for gallery in gallery2 %}
                    <div class="col-sm-6">
                        <div class="project-gallery-item">
                            <img src="{{gallery.image.crop.285x287}}" alt="">
                            <div class="content">
                                <div class="caption">
                                    <h2 class="title">{{gallery.title}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for gallery in gallery3 %}
                    <div class="col-sm-6">
                        <div class="project-gallery-item">
                            <img src="{{gallery.image.crop.285x287}}" alt="">
                            <div class="content">
                                <a href="#">
                                    <h2 class="title">{{gallery.title}}</h2>
                                    </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for gallery in gallery4 %}
                    <div class="col-md-12">
                        <div class="project-gallery-item">
                            <img src="{{gallery.image.crop.570x287}}" alt="">
                            <div class="content">
                                <a href="#">
                                    <h2 class="title">{{gallery.title}}</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>



<!-- testimonial area start  -->
<section class="testimonial-area padding-bottom-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-7">
                <div class="testimonial-top padding-bottom-50 padding-top-55">
                    <div class="section-title">
                        <div class="icon">
                            <i class="flaticon-right-quote-1"></i>
                        </div>
                        <h2 class="title">Clinets testimonial </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-carousel-area margin-top-100">
                    <div class="testimonial-carousel">
                        {% for testimonial in testimonial %}
                        <div class="single-testimonial-item">
                            <div class="content">
                                <div class="content-wrapper">
                                    <p class="description">{{testimonial.decription}}</p>
                                </div>
                                <div class="author-details">
                                    <div class="thumb">
                                        <img src="{{testimonial.image.crop.120x120}}" alt="testimonial">
                                    </div>
                                    <div class="author-meta">
                                        <h4 class="title">{{testimonial.name}}</h4>
                                        <span class="designation">{{testimonial.designation}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                       


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial area end -->

<!-- Team Section -->
<section class="creative-team bg-image padding-top-110 padding-bottom-55"
    style="background-image: url({% static 'web/img/bg/team-bg.jpg' %});">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-12">
                <div class="section-title white desktop-center padding-top-25 margin-bottom-55">
                    <p class="meta">meet our expert team </p>
                    <h2 class="title">our team <span>.</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4  col-sm-6 padding-bottom-60">
                <div class="team-section">
                    <div class="team-img-cont">
                        <img src="{% static 'web/img/team/01.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="social-link style-03">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-square facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter-square twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-square g-plus"></i></a></li>
                            </ul>
                        </div>
                        <h4 class="title">Johnny Jhon</h4>
                        <span>Co-Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  col-sm-6 padding-bottom-60">
                <div class="team-section">
                    <div class="team-img-cont">
                        <img src="{% static 'web/img/team/02.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="social-link style-03">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-square facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter-square twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-square g-plus"></i></a></li>
                            </ul>
                        </div>
                        <h4 class="title">Johnny Lione</h4>
                        <span>Co-Founder</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  col-sm-6 padding-bottom-60">
                <div class="team-section">
                    <div class="team-img-cont">
                        <img src="{% static 'web/img/team/03.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="social-link style-03">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-square facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter-square twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-square g-plus"></i></a></li>
                            </ul>
                        </div>
                        <h4 class="title">Jhon Cena</h4>
                        <span>Co-Founder</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Request free quote -->
<div class="request-area bg-image" style="background-image: url({% static 'web/img/bg/bg-faq.jpg' %})" id="contact">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6">
                <div class="left-content-area">
                    <div class="section-title padding-top-25 margin-bottom-55">
                        <p class="meta">faqs</p>
                        <h2 class="title">Most asked questions</h2>
                    </div>
                    <div class="accordion-wrapper">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <a href="#" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                                            What is advertising?
                                        </a>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        Advertising is the means of marketing communication with the customers about the product or brand.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                            aria-expanded="false" aria-controls="collapseTwo">
                                            What is an ad agency?

                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        An advertising agency is an agency that delivers exceptional services and assistance for your advertising necessities.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <a href="#" class="collapsed" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            How to effectively do ads?
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        Start building your brand equity with strategic and creative advertisements by considering your business and targeted audiences.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFour">
                                    <h5 class="mb-0">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFour"
                                            aria-expanded="false" aria-controls="collapseThree">
                                            Selecting perfect ad?
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                    data-parent="#accordion">
                                    <div class="card-body">
                                        Understand your brand or business, the target audiences and the area of advertising. Select from the various ads that are best suitable for your needs.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="right-content-area">
                    <div class="request-page-form-wrap">
                        <h4 class="title">reach out via the from below</h4>
                        <form  method="POST" class="request-page-form"novalidate="novalidate" id="form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{forms.name}}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{forms.company}}
                                       
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{forms.phone}}
                                       
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{forms.email}}
                                       
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        {{forms.website}}
                                        
                                    </div>
                                </div>
                                <div class="head-color">
                                    <h4 style="color: white;">Let us know what you're interested in! Check all that apply
                                    </h4>
                                    <span>Area of Interest</span>
                                    <div>
                                        {{forms.ad_type}}
                                        
                                        <br>
                                       
                                       
                        
                                    </div>
                                </div>

                        
                                <div class="col-md-12" style="padding-top: 15px;">
                                    <div class="form-group">
                                        <input type="submit" value="Submit Form" class="submit-btn">
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=======================
Client Section
========================-->
<div class="client-section bg-liteblue padding-top-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title desktop-center padding-bottom-50">
                    <h3 class="client-title">
                        We have more then 20k satified clients those happy work with us.
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                {% include 'web/partials/clients.html'  %}
            </div>
        </div>
    </div>
</div>
<!-- blog area start  -->
<section class="blog-area padding-top-120 padding-bottom-120" id="updates">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title desktop-center padding-top-25 margin-bottom-55">
                    <p class="meta">whats going on </p>
                    <h2 class="title">Latest news<span> .</span> </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-grid-carosel-wrapper">
                    <div class="blog-grid-carousel">
                        {% for update in updates %}
                        <div class="single-blog-grid-01">
                            <div class="single-blog-grid-thumb">
                                <img src="{{update.image.crop.700x802}}" alt="">
                            </div>
                            <a href="{% url 'Web:blogDetails' update.slug %}">
                                <div class="content">
                                    <div class="post-date">
                                        <h2 class="date">{{update.date|date:"d"}}</h2>
                                        <span>{{update.date|date:"M"}}</span>
                                    </div>
                                    <h4 class="title">{{update.title}}</h4>
                                    <div class="blog-bottom">
                                        <a href="{% url 'Web:blogDetails' update.slug %}"><span class="line-btn">Read More</span></a>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog area end -->
<!-- Contact area start  -->

<!-- Contact area end -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% endblock %}

{% block javascript %}


{% endblock %}