 {% load static %}
    <div class="header">
        <!-- support bar area end -->
        <nav class="navbar nav-custom navbar-expand-lg">
            <div class="container nav-custom-container">
                <div class="responsive-mobile-menu">
                    <div class="logo-wrapper">
                        <a href="{% url 'Web:index' %}" class="logo">
    
                            <img class="def" src="{% static 'web/img/GADLIX-WHITE.png' %}" alt="">
                            <img class="alt" src="{% static 'web/img/GADLIX-BLACK.png' %}" alt="">
                        </a>
                    </div>
                    <button class="navbar-toggler cross-menu" type="button" data-toggle="collapse" data-target="#bizcoxx_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="cross-menu-wrapper">
                            <span class="bar1"></span>
                            <span class="bar2"></span>
                            <span class="bar3"></span>
                        </span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bizcoxx_main_menu">
                    <ul class="nav-custom-menu navbar-nav">
                        <li class="{% if is_index %}current-menu-item{% endif %}">
                            <a href="{% url 'Web:index' %}">Home</a>
                        </li>
                        <li class="{% if is_about %}current-menu-item{% endif %}">
                            <a href="{% url 'Web:about' %}">About</a>
                            <!--<ul class="sub-menu">
            <li><a href="about.html">About</a></li>
            <li><a href="service-details.html">Service Single</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>-->
                        </li>
                        <li class="{% if is_service %}current-menu-item{% endif %}" >
                            <a href="{% url 'Web:services' %}">Services</a>
                        </li>
                        <li class="{% if is_gallery %}current-menu-item{% endif %}"><a href="{% url 'Web:gallery' %}">Gallery</a></li>
                        <li class="{% if is_update %}current-menu-item{% endif %}"><a href="{% url 'Web:blog' %}">Updates</a></li>
                        <!--<li><a href="blog-details.html">Blog</a></li>-->
                    </ul>
                </div>
                <div class="nav-right-content">
                    <div class="icon-part">
                        <ul class="social_link">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                        <!-- <ul class="cart-icon">
                            <li id="search"><a href="#"><i class="flaticon-magnifying-glass
                                                    "></i></a></li>
                            <li class="cart"><a href="#"><i class="flaticon-shopping-bag"></i></a></li>
                        </ul> -->
                    </div>
                    <div class="btn-wrapper">
                        <a href="{% url 'Web:contact' %}" class="boxed-btn blank">contact us</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- navbar area end -->
    </div>